<section id="services" name="services">
  <div class="container">
    <div class="row features">
      <div class="col-md-12 text-center">
        <h2>Amazing Features</h2>
        <p>Product is packed with everything you need. <br> Do you want to make your vision turn into reality? Looking for someone to do it for you? I'm open for any challenges. Contact me and I will get it done. </p>
      </div>
    </div>
    <div class="row features">
      <div class="col-lg-2 col-sm-4">
        <div class="hexicon">
          <div class="inicon retina"
               uib-popover="{{$ctrl.popoverRetina.content}}"
               popover-trigger="mouseenter"
               popover-append-to-body='true'
               popover-title="{{$ctrl.popoverRetina.title}}">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="hexicon">
          <div class="inicon support"
               uib-popover="{{$ctrl.popoverSupport.content}}"
               popover-trigger="mouseenter"
               popover-append-to-body='true'
               popover-title="{{$ctrl.popoverSupport.title}}">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="hexicon">
          <div class="inicon speed"
               uib-popover="{{$ctrl.popoverSpeed.content}}"
               popover-trigger="mouseenter"
               popover-append-to-body='true'
               popover-title="{{$ctrl.popoverSpeed.title}}"
          ></div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="hexicon">
          <div class="inicon social"
               uib-popover="{{$ctrl.popoverSocial.content}}"
               popover-trigger="mouseenter"
               popover-append-to-body='true'
               popover-title="{{$ctrl.popoverSocial.title}}"></div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="hexicon">
          <div class="inicon shopping"
               uib-popover="{{$ctrl.popoverShop.content}}"
               popover-trigger="mouseenter"
               popover-append-to-body='true'
               popover-title="{{$ctrl.popoverShop.title}}">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="hexicon">
          <div class="inicon cloud"
               uib-popover="{{$ctrl.popoverCloud.content}}"
               popover-trigger="mouseenter"
               popover-append-to-body='true'
               popover-title="{{$ctrl.popoverCloud.title}}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
