<div id="snav" class="en">
  <ul>
    <li> <a ng-href="/#home" target="_self" href=""><i class="fa fa-home"></i><span>Eden</span> </a> </li>
    <li> <a ng-href="/#services" target="_self" href=""><i class="fa fa-line-chart"></i> <span>Services</span> </a> </li>
    <li> <a ng-href="/#features" target="_self" href=""><i class="fa fa-css3"></i> <span>Features</span> </a> </li>
    <li> <a ng-href="/#clients" target="_self" href=""><i class="fa fa-html5"></i><span>Technology</span> </a> </li>
    <li> <a ng-href="/#contact" target="_self" href=""><i class="fa fa-envelope"></i><span>Contact</span> </a> </li>
  </ul>
</div>
