<div id="snav" class="en">
  <ul>
    <li> <a href="#home"> <i class="fa fa-home"></i><span>Eden</span> </a> </li>
    <li> <a href="#services"> <i class="fa fa-line-chart"></i> <span>Services</span> </a> </li>
    <li> <a href="#features"> <i class="fa fa-css3"></i> <span>Features</span> </a> </li>
    <li> <a href="#clients"> <i class="fa fa-html5"></i> <span>Technology</span> </a> </li>
    <li> <a href="#contact"> <i class="fa fa-envelope"></i> <span>Contact</span> </a> </li>
  </ul>
</div>
