<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="image in $parent.$ctrl.projects">
  <img ng-src="{{ image.thumb }}"
       ng-click="openGallery($index)">
  <br>
</div>

<div class="ng-overlay" ng-show="opened">
</div>

<div class=" ng-gallery-content" unselectable="on"
     ng-show="opened" ng-swipe-left="nextImage()"
     ng-swipe-right="prevImage()">
  <div class="uil-ring-css" ng-show="loading">
    <div></div>
  </div>

  <a class="photo-control nav-left"
     ng-click="prevImage()">
    <i class="fa fa-angle-left"></i>
  </a>

  <img ondragstart="return false;"
       draggable="false" ng-src="{{ img }}"
       ng-click="nextImage()" ng-show="!loading"
       class="effect"/>

  <a class="photo-control nav-right"
     ng-click="nextImage()">
    <i class="fa fa-angle-right"></i>
  </a>

  <a class="close-popup" ng-click="closeGallery()">
    <i class="fa fa-close"></i>
  </a>

  <span class="info-text info-label">
    <h4>
      <span class="text-normal">
        {{ index + 1 }}/{{ images.length }} -
      </span>
      <span>
        {{ images[index].caption }}
        <i ng-show="!images[index].caption">Any idea you may have</i>
      </span>
    </h4>
  </span>

  <div class="ng-thumbnails-wrapper">
    <div class="ng-thumbnails slide-left">
      <div ng-repeat="image in images">
        <img ng-src="{{ image.url }}" ng-click="changeImage($index)"/>
      </div>
    </div>
  </div>

</div>
